@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contract Manager</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Contract Manager</h2>
        <p>
            This application is used to create and manage the publishing contracts for your company and it's clients.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Quick Tips</h2>
        <p>To Edit A Contract: Select "Details" for a contract on the Contracts page. There will be an edit option on the report, if the contract is tentative.</p>
        <p>To Add A New Author: Create a new contract. Next to the Author listbox there will be an option to add a new author.</p>
    </div>
</div>
